<h3> Question of test "<%= @question.test.title %>":</h3>
<h2> <%= @question.body %></h2>
<%= link_to 'Edit', edit_question_path(@question) %><br>
<%= link_to 'Back to test', test_path(@question.test) %>