<tr>
  <td><%= truncate(gist.question, length: 25, escape: false) %></td>
  <td><%= link_to "#{gist.gist_url.split('/').last}", gist.gist_url, target: '_blank' %></td>
  <td><%= gist.user.email %></td>
</tr>