<style type="text/css">
  BODY { margin-bottom: 50px; }
  #footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    background: #808080;
    color: #fff;
    width: 100%;
  }
</style>

<body>
<div id="footer">&copy; <%= year %> Author: Ilya Efremov, <%= github_url('mymadhead', 'testGuru') %>
  <a href="https://thinknetica.com" target="_blank">"Учебный проект в онлайн-школе THINKNETICA"</a></div>
</body>