<footer class="page-footer font-small blue fixed-bottom bg-light">
  <div class="container-fluid text-center ">
    <div class="row">
      <div class="col-12">
        Creation and passing tests project.<br>
        Created through Ruby on Rails course by <a href="http://thinknetica.com" target="_blank", class="text-dark">THINKNETICA school.</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center">
    <%= year %>, Ilya Efremov, <%= github_url('mymadhead', 'testGuru') %>
  </div>
</footer>