input[type=text], input[type=password], select {
    width: 300px;
    padding: 1px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}