// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
.successfull {
  color: green;
}

.unsuccessfull {
  color: red;
}

.title {
  text-align: center;
}

table.tests-table {
  width: 800px;
  text-align: center;
  margin-top: 2rem;
}
tr th {
  background-color: rgba(60, 179, 113, 0.62);
  color: #373b3e;
}